
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: "Poppins", sans-serif;
}

.text-content {
    color: #00376D;
}

.background-color {
    background-image: linear-gradient(#e6e6e6, #0081FF);
}
/* .motif {
    position: absolute;
    width: 150%;
    min-height: 50%;
    left: 0%;
    top: 0%;
    opacity: 0.2;
    display: block;
} */
.motif img {
    opacity: 0.1;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
}
.text-content {
    z-index: 99;
}
.text-content h3 {
    margin-top:  95px;
}
.text-content h2 {
    padding-top: 10px;
    font-weight: 600;
    text-transform: capitalize;
    width: 75%;
    margin: auto;
    color: #000;
}

.text-content p {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 70%;
    font-size: 16px;
    margin: auto;
    color: #000;
}

.bg-image {
    position: absolute;
    width: 60%;
    min-height: 60%;
    top: 30%;
    left: 20%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 45px;
}
.kanan {
    background-color: #FCFCFC;
}
.submit .btn {
    background-color: #0081FF;
    /* border: 1px solid #000; */
    color: #fff;
}
/* .submit button:hover {
    background-color: #0081FF;
    color: #fff;
    transition: .4s ease-in-out;
} */

.input-group a {
    text-decoration: none;
    font-size: 14px;
}

.input-group a:hover {
    text-decoration: underline;
    font-size: 15px;
    font-weight: bold;
    transition: .3s ease;
}

.login img {
    width: 22px;
}

.login button {
    background-color: #fff;
    border: 1px solid #000;
}

.login button:hover {
    background-color: #0081FF;
    color: #fff;
    transition: .4s ease-in-out;
}

.login button img:hover {
    width: 24px;
}
.divider-content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding-left: .5rem;
    padding-right: .5rem;
}


.account a {
    text-decoration: none;
    font-size: 14px;
}
.account a:hover {
    text-decoration: underline;
    font-size: 15px;
    font-weight: bold;
    transition: .3s ease;
}

.text-requiere{
    font-size: 14px;
}
